body{
    margin: 0;
}
html{
    margin: 0;
}

.job-board-banner{
    background-image: url("../images/baner.jpg");
    background-position: center;
    background-position-y: -0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.small-banner{
    background-image: url("../images/small-banner.jpeg");
    background-position: center;
    background-position-y: -0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

.job-board-banner > h1,.small-banner > h1{
    margin-top:3em;
    color:white;
    text-shadow: 2px 2px 3px #252525;
}
.single-job-post{
    padding: 1em;
}

.dropbtn {
    background-color: #0056b3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}
