<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div class="banner">
    <canvas id="banner-background"></canvas>
    <h1>Dodaj miasto</h1>
</div>
<div class="form-wrapper">
    <form action="#" method="post" th:action="@{/admin/processaddcity}" th:object="${city}">
        <label for="cityname">Nazwa miasta</label>
        <input id="cityname" type="text" th:field="*{name}">
        <input type="submit" value="Dodaj miasto">
    </form>
</div>
</body>
</html>