<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="adminpanel::nav"></nav>
<div class="small-banner jumbotron text-center">
    <h1>Dodaj kategorię ofert pracy</h1>
</div>
<div class="container">
    <div th:text="${message}" th:if="${message}" class="alert-info"></div>
    <div class="form-wrapper col-md">
        <form action="#" method="post" th:action="@{/admin/processaddcategory}" th:object="${category}">
            <label for="categoryname">Nazwa kategori</label>
            <input id="categoryname" type="text" th:field="*{name}">
            <input class="btn  btn-outline-secondary btn-block col-2" type="submit" value="Dodaj kategorię">
        </form>
    </div>
</div>
</body>
</html>
