<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div th:replace="main::banner"></div>
<div class="form-wrapper">
    <form id="addjobofferform" action="#" method="get" th:action="@{/processjoboffer}">
        <label for="jobname">Nazwa stanowiska:</label>
        <input id="jobname" type="text">
        <label for="category">Kategoria:</label>
        <select id="category" form="addjobofferform">
            <option th:each="category : ${categories}" th:text="${category.name}"></option>
        </select>
        <label for="city"></label>
        <select id="city" form="addjobofferform">
            <option th:each="city : ${cities}" th:text="${city.name}"></option>
        </select>
    </form>
</div>
</body>
</html>