<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div class="small-banner jumbotron text-center">
    <h1>Dodaj ofertę pracy</h1>
</div>
<div class="container">
    <div class="col-6 mb-3">
        <div th:text="${message}" th:if="${message}" class="alert-info"></div>
        <form id="addjobofferform" class="needs-validation form" action="#" method="post"
              th:action="@{/processjoboffer}"
              th:object="${jobOffer}">
            <div class="mb-3 form-label-group">
                <label for="jobname">Nazwa stanowiska</label>
                <input class="form-control" placeholder="Nazwa stanowiska" id="jobname" type="text" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="category">Kategoria</label>
                <select class="custom-select d-block w-100" id="category" th:field="*{category}">
                    <option th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select>
            </div>
            <div class="mb-3 form-label-group">
                <label for="city">Miasto</label>
                <select class="custom-select d-block w-100" id="city" th:field="*{city}">
                    <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="content">Treść ogłoszenia</label>
                <textarea id="content" class="form-control" form="addjobofferform" th:field="*{content}"></textarea>
            </div>
            <div class="mb-3 form-label-group">
                <label for="salary">Wynagrodzenie</label>
                <input class="form-control" placeholder="Wynagrodzenie" type="text" id="salary" th:field="*{salary}">
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Dodaj ofertę">
        </form>
    </div>
</div>
<footer th:replace="main::footer"></footer>
</body>
</html>
