<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <title>Job board</title>
</head>
<body>
<div th:fragment="nav" class="site-header sticky-top py-1 navbar-dark bg-light shadow-sm">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="/" title="">Start</a>
        <a class="py-2 d-none d-md-inline-block" href="/addjoboffer" title="">Dla pracodawców</a>
        <a class="py-2 d-none d-md-inline-block" href="/categories" title="">Kategorie</a>
        <a class="py-2 d-none d-md-inline-block"  href="" title="">Grupa FB</a>
        <a class="py-2 d-none d-md-inline-block" href="/admin/addcategory" title="">Dodaj kategorię</a>
        <a class="py-2 d-none d-md-inline-block" href="/admin/addcity" title="">Dodaj miasto</a>

    </div>
</div>
<h2>Lista ofert pracy</h2>
<ul>
    <li th:each="jobOffer : ${jobOffers}">
        <ol>
            <li th:text="${jobOffer.name}"></li>
            <li th:text="${jobOffer.category?.name}"></li>
            <li th:text="${jobOffer.city}"></li>
            <li th:text="${jobOffer.content}"></li>
            <li th:text="${jobOffer.salary}"></li>
        </ol>
    </li>
</ul>

<footer th:replace="main::footer"></footer>
</body>
</html>
