<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <title>Job board</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div th:replace="main::banner"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mb-1" th:each="category : ${categories}">
            <a class="btn btn-lg btn-block btn-outline-primary" href="#" th:href="@{/offers/__${category.name}__}" th:text="${category.name}"></a>
        </div>
    </div>
</div>
<div th:replace="jobOfferList::jobOfferList"></div>
<footer th:replace="main::footer"></footer>
</body>
</html>
