<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <title>Job board</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div th:replace="main::banner"></div>
<div class="container-fluid">
    <h2 th:text="${header}"></h2>
</div>
<div class="album py-6 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6" th:each="jobOffer : ${jobOffers}">
                <div class="card mb-6 shadow-sm">
                    <ol>
                        <li th:text="${jobOffer.name}"></li>
                        <li th:text="${jobOffer.category?.name}"></li>
                        <li th:text="${jobOffer.city?.name}"></li>
                        <li th:text="${jobOffer.content}"></li>
                        <li th:text="${jobOffer.salary}"></li>
                        <li th:text="${jobOffer.date}"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="main::footer"></footer>
</body>
</html>
