<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::nav"></nav>
<div class="small-banner jumbotron text-center">
    <h1>Zaloguj się</h1>
</div>
<div class="container">
    <div th:text="${message}" th:if="${message}" class="alert-info"></div>
    <div th:if="${param.logout}" class="alert-info">Wylogowałeś się</div>
    <div class="col-6 mb-3 align-content-center">
        <form id="loginform" class="needs-validation form" action="#" method="post"
              th:action="@{/login}"
              th:object="${user}">
            <div class="mb-3 form-label-group">
                <label for="username">Login:</label>
                <input class="form-control" placeholder="Login" id="username" type="text" th:field="*{username}">
                <strong>
                        <span class="error-message"
                              th:errors="*{username}"
                              th:if="${#fields.hasErrors('username')}">Błędny login
                        </span>
                </strong>
            </div>
            <div class="mb-3 form-label-group">
                <label for="password">Hasło:</label>
                <input class="form-control" placeholder="Hasło" type="password" id="password" th:field="*{password}">
                <strong th:if="${param.error}">
                    Nieprawidłowe hasło lub login
                </strong>
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zaloguj">
        </form>
    </div>
</div>
<footer th:replace="main::footer"></footer>
</body>
</html>
